---
import "../styles/global.css"
import Button from "~/common/components/button.astro"
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href={`/icons/e-64.png`} />
    <title>Effect-ak tools</title>
  </head>
  <body class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="flex flex-col gap-4">
      <Button title="Telegram bot API" href="/tg-bot-api/add-sticker-to-set"></Button>
      <Button title="Telegram bot playground" href="/tg-bot-playground"></Button>
      <Button title="CV Maker" href="/cv-maker"></Button>
    </div>
    
  </body>
</html>
