@import "tailwindcss"

@theme {
  --color-so: #f1f8ff;
}

.select {
  @apply bg-white border border-gray-300 py-1 px-2 rounded focus:outline-none focus:ring-0
}

.btn {
  @apply text-sm rounded py-1 px-2 text-white font-bold hover:cursor-pointer;
}

.btn-orange {
  @apply bg-amber-600 hover:bg-amber-900
}

@media print {
  html
  body {
    margin: 0;
    padding: 0;
  }
  .no-print {
    display: none;
  }
  .no-break {
    page-break-inside: avoid;
  }
}

separator-dot {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: #ccc;
}

div#profiles {
  display: flex;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
}

div#profiles a {
  color: inherit;
  text-decoration: none;
}

div#summary {
  background: #f1f8ff;
  padding: 1em;
  overflow-wrap: break-word;
  white-space: normal;
  margin-bottom: 15px;
}


.section-header {
  display: flex;
  align-items: center;
}

.section-header::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin-left: 10px;
}

.section-header #label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #ff6d1f;
  text-transform: uppercase;
  font-size: smaller;
}
